
<!-- Header -->
<div class="range-inputs-block-header">
  <span>{{block.name}}</span>
  <div 
    class="range-inputs-block-toggler"
    (click)="toggleBlock()">
    <span class="range-inputs-block-toggler-triangle">&#9650;</span>
  </div>
</div>

<!-- Output Color Sample (Optonal) -->
<div 
  *ngIf="displaySample"
  class="color-sample"
  style="background: {{color.hex}};"></div>

<!-- Inputs -->
<app-range-input
  *ngFor="let range of block.ranges"
  [range]="range"
  (output)="setColorFromRange(range, $event)">
</app-range-input>
