
<!-- Menu -->
<app-choose-one
  [menu]="converterMenu"
  menuStyle="converter-menu"
  (selectOption)="switchConverter($event)">
</app-choose-one>

<!-- Converters -->
<div 
  *ngFor="let c of converters; index as i"
  class="converter-block"
  [ngClass]="{'converter-selected': c.selected}">

  <!-- Instruction -->
  <div class="instruction-container">
    <div class="instruction-text">{{c.instruction}}</div>    
  </div>

  <!-- Input Notations -->
  <app-choose-one
    *ngIf="notationsMenu[i].length"
    [menu]="notationsMenu[i]"
    menuStyle="inline-menu"
    label="Use input format:"
    (selectOption)="switchNotation(c, $event)">
  </app-choose-one>

  <!-- Examples -->
  <div class="example-container">
    <div class="example-text">
      <span class="example-text-label">Example: </span>
      <ng-container *ngFor="let example of c.examples; index as j">
        <span 
          *ngIf="c.inputNotations.length ? c.inputNotations[j].selected : true"
          class="example-string">{{example}}</span>
      </ng-container>
    </div> 
  </div>

  <!-- Input -->
  <div class="text-input-container">
    <input 
      type="text" value="" maxlength="30" 
      (input)="updUserInput(c, $event)"
      (change)="runConverter(c)"/>
    <div 
      class="convert-button"
      (click)="runConverter(c)">Convert</div>
  </div>

  <!-- Errors and Warnings -->
  <ng-container *ngFor="let list of [c.errorList, c.warningList]; index as j">
    <div 
      *ngIf="j ? c.inputWarning : c.inputError"
      class="input-issues-container input-{{j ? 'warnings' : 'errors'}}">
      <div 
        *ngFor="let issue of list"
        class="input-issue"
        [ngClass]="{'single-issue': list.length == 1 && !list[0].details.length}">
        <div class="input-issue-symbol">&#9888;</div>
        <div class="input-issue-data">
          <div class="input-issue-text">{{issue.text}}</div>
          <div 
            *ngIf="issue.details.length"
            class="input-issue-details">
            <div class="fragments-container">
              <span 
              *ngFor="let fragment of issue.details"
              [ngClass]="{'fragment-invalid': !fragment.valid}">{{fragment.fragment}}</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </ng-container>

  <!-- Output -->
  <app-output-color
    *ngIf="c.inputAccepted"
    [color]="c.color"
    headerText="Converted Color">  
  </app-output-color>

</div>
