
:host {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  height: 100%;
  align-content: flex-start;
  justify-content: center;
}

@media (max-width: 599px) {
  :host {
    padding: 0 8px;
  }
}


/*   Containers   */

.converter-block {
  display: none;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-content: flex-start;
  justify-content: center;
  min-height: calc(100% - 90px);
  margin: 0 20px 20px 20px;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  background: rgba(34, 34, 34, .5);
  box-shadow: 
    0 0 5px 5px rgba(42, 42, 42, 1) inset,
    0 0 40px 20px rgba(42, 42, 42, .5) inset;
}

.converter-block > * {
  animation: fadeIn .6s;
}

.converter-block.converter-selected {
  display: flex;
}

@media (max-width: 899px) {
  .converter-block {
    margin: 0 10px 15px 10px;
    border-radius: 8px;
  }
}

@media (max-width: 599px) {
  .converter-block {
    margin: 0 0 10px 0;
    padding: 10px 5px 20px 5px;
    border-radius: 6px;
  }
}


/*   Instruction   */

.instruction-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.instruction-text {
  display: flex;
  max-width: 1000px;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  letter-spacing: .015em;
}

@media (max-width: 899px) {
  .instruction-text {
    font-size: 16px;
  }
}

@media (max-width: 599px) {
  .instruction-text {
    padding: 5px 10px;
    font-size: 14px;
  }
}


/*   Example   */

.example-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.example-text {
  display: flex;
  align-items: center;
  max-width: 1000px;
  padding: 10px 0;
  text-align: center;
}

.example-text-label {
  margin-right: 20px;
  padding-bottom: 2px;
  letter-spacing: .015em;
  user-select: none;
}

.example-string {
  padding: 5px 10px;
  background: #282828;
  border-radius: 4px;
  color: #9a9a9a;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media (max-width: 899px) {
  .example-text-label,
  .example-string {
    font-size: 15px;
  }
}

@media (max-width: 599px) {
  .example-text-label {
    margin-right: 10px;
    padding-bottom: 3px;
  }
  .example-string {
    padding: 4px 8px;
    font-size: 14px;
  }
}


/*   Text Input   */

.text-input-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 15px 5px 20px 5px;
}

.text-input-block {
  display: inline-flex;
  border-radius: 6px;
  box-shadow: 0 0 1px 1px #1a1a1a;
}

input[type=text] {
  display: flex;
  width: 400px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px 0 0 6px;
  background: #333;
  color: #aaa;
  font-size: 16px;
  letter-spacing: .03em;
}

input[type=text]:focus {
  outline: none;
}

.convert-button {
  display: flex;
  padding: 10px 15px;
  border-left: 1px solid #282828;
  border-radius: 0 6px 6px 0;
  background: #282828;
  letter-spacing: .03em;
  user-select: none;
  cursor: pointer;
  transition: .3s;
}

@media (hover: hover) {
  .convert-button:hover {
    background: #2c2c2c;
  }
}

@media (max-width: 899px) {
  .text-input-container {
    margin: 10px 5px;
  }
  input[type=text] {
    font-size: 15px;
    padding: 8px 10px;
  }
  .convert-button {
    font-size: 15px;
    padding: 8px 10px;
  }
}

@media (max-width: 599px) {
  .text-input-block {
    width: 100%;
  }
  input[type=text] {
    width: unset;
    flex-grow: 1;
    font-size: 14px;
  }
  .convert-button {
    font-size: 14px;
  }
}


/*   Errors and Warnings   */

.input-issues-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(800px, 100%);
  margin: 0 5px 10px 5px;
  padding: 10px;
  border-radius: 10px;
  animation: none;
}

.input-issues-container.input-errors {
  background: rgba(120, 0, 0, .2);
  box-shadow: 0 0 2px 2px rgba(120, 0, 0, .3) inset;
}

.input-issues-container.input-warnings {
  background: rgba(190, 190, 0, .1);
  box-shadow: 0 0 2px 2px rgba(190, 190, 0, .1) inset;
}

.input-issue {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px dotted;
  letter-spacing: .015em;
  animation: fadeIn .5s;
}

.input-issue:first-of-type {
  padding-top: 0;
}

.input-issue:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.input-issue.single-issue {
  justify-content: center;
}

.input-issues-container.input-errors .input-issue {
  border-color: #881111;
  color: #aa2222;
}

.input-issues-container.input-warnings .input-issue {
  border-color: #5A5A00;
  color: #787800;
}

.input-issue-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px 0 10px;
  font-size: 22px;
}

.input-issue-data {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 8px;
}

.input-issue-text {
  display: flex;
  text-align: left;
  padding-top: 2px;
  font-size: 17px;
  text-shadow: .5px .5px #222;
}

.input-issue-details {
  display: flex;
  padding-left: 5px;
}

.fragments-container {
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  background: #282828;
  color: #777;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.input-issues-container.input-errors .fragment-invalid {
  color: #cc3333;
  background: rgba(255, 0, 0, .1);
}

.input-issues-container.input-warnings .fragment-invalid {
  color: #787800;
  background: rgba(255, 255, 0, .05);
}

@media (max-width: 899px) {
  .input-issues-container {
    margin: 0 5px 8px 5px;
    padding: 8px 5px;
    border-radius: 6px;
  }
  .input-issue-text,
  .fragments-container {
    font-size: 15px;
  }
}

@media (max-width: 599px) {
  .input-issue-symbol {
    display: none;
  }
  .input-issue-text {
    font-size: 14px;
  }
  .fragments-container {
    padding: 5px 8px;
    font-size: 14px;
  }
}
