
:host {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
}


/*   Containers   */

.converter-block {
  display: none;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-content: flex-start;
  height: calc(100% - 90px);
  margin: 0 20px;
  padding: 10px 0;
  border-radius: 10px;
  background: rgba(34, 34, 34, .5);
  box-shadow: 
    0 0 5px 5px rgba(42, 42, 42, 1) inset,
    0 0 40px 20px rgba(42, 42, 42, .5) inset;
}

.converter-block > * {
  animation: fadeIn .6s;
}

.converter-block.converter-selected {
  display: flex;
}


/*   Instruction   */

.instruction-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.instruction-text {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  letter-spacing: .01em;
}


/*   Example   */

.example-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.example-text {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  letter-spacing: .01em;
  animation: fadeIn .5s;
}

.example-text-label {
  margin-right: 20px;
  padding-bottom: 2px;
}

.example-string {
  padding: 5px 10px;
  background: #282828;
  border-radius: 4px;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  letter-spacing: 0.02em;
}


/*   Text Input   */

.text-input-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 20px 0;
}

input[type=text] {
  width: 400px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px 0 0 6px;
  background: #333;
  color: #aaa;
  font-size: 16px;
  letter-spacing: .03em;
}

input[type=text]:focus {
  outline: none;
}

.convert-button {
  padding: 10px 15px;
  border-radius: 0 6px 6px 0;
  font-size: 16px;
  letter-spacing: .03em;
  background: #222;
  cursor: pointer;
}


/*   Errors   */

.input-issues-container {
  display: flex;
  flex-wrap: wrap;
  width: min(800px, 100%);
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  animation: none;
}

.input-issues-container.input-errors {
  background: rgba(48, 0, 0, .3);
}

.input-issues-container.input-warnings {
  background: rgba(190, 190, 0, .1);
}

.input-issue {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 5px 10px;
  border-bottom: 1px dotted;
  text-align: center;
  font-size: 17px;
  letter-spacing: .01em;
  animation: fadeIn .5s;
}

.input-issue:first-of-type {
  padding-top: 0;
}

.input-issue:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.input-issue.single-issue {
  justify-content: center;
}

.input-issues-container.input-errors .input-issue {
  color: darkred;
  border-color: #881111;
}

.input-issues-container.input-warnings .input-issue {
  color: #787800;
  border-color: #5A5A00;
}

.input-issue-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px 0 10px;
  font-size: 22px;
}

.input-issue-data {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 8px;
}

.input-issue-text {
  display: flex;
  text-align: left;
  padding-top: 2px;
}

.input-issue-details {
  display: flex;
  padding-left: 5px;
}

.fragments-container {
  margin-bottom: 5px;
  padding: 4px 12px;
  border-radius: 6px;
  background: #222;
  color: #777;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.input-issues-container.input-errors .fragment-invalid {
  color: #CC3333;
  background: rgba(255, 0, 0, .1);
}

.input-issues-container.input-warnings .fragment-invalid {
  color: #787800;
  background: rgba(255, 255, 0, .05);
}
