
<!-- Menu -->
<app-choose-one
  [menu]="converterMenu"
  menuStyle="converter-menu"
  (selectOption)="switchConverter($event)">
</app-choose-one>

<!-- Converters -->
<div 
  *ngFor="let c of converters; index as i"
  class="converter-block"
  [ngClass]="{'converter-selected': c.selected}">

  <!-- Instruction -->
  <div class="instruction-container">
    <div class="instruction-text">{{c.instruction}}</div>    
  </div>

  <!-- Input Notations -->
  <app-choose-one
    *ngIf="notationsMenu[i].length"
    [menu]="notationsMenu[i]"
    menuStyle="inline-menu"
    label="Use input format:"
    (selectOption)="switchNotation(c, $event)">
  </app-choose-one>

  <!-- Examples -->
  <div class="example-container">
    <div class="example-text">
      <span class="example-text-label">Example: </span>
      <ng-container *ngFor="let example of c.examples; index as j">
        <span 
          *ngIf="c.inputNotations.length ? c.inputNotations[j].selected : true"
          class="example-string">{{example}}</span>
      </ng-container>
    </div> 
  </div>

  <!-- Input -->
  <div class="text-input-container">
    <input 
      type="text" value="" maxlength="30" 
      (input)="updUserInput(c, $event)"
      (change)="runConverter(c)"/>
    <div 
      class="convert-button"
      (click)="runConverter(c)">Convert</div>
  </div>

  <!-- Errors -->
  <div 
    *ngIf="c.inputError"
    class="error-container">
    <div 
      *ngFor="let error of c.errorList"
      class="input-error-text"
      [ngClass]="{'single-error': c.errorList.length == 1}">
      <span class="input-error-symbol">&#9888;</span>
      <span>{{error}}</span>
    </div> 
  </div>

  <!-- Warnings -->
  <div 
    *ngIf="c.inputWarning"
    class="warning-container">
    <div 
      *ngFor="let warning of c.warningList"
      class="input-warning-text">{{warning}}</div> 
  </div>

  <!-- Output -->
  <app-output-color
    *ngIf="c.inputAccepted"
    [color]="c.color"
    headerText="Converted Color">  
  </app-output-color>

</div>
