
:host {
  display: flex;
  flex-wrap: wrap;
  width: min(1000px, 100%);
  margin: 0 auto 10px auto;
  border-radius: 15px;
  padding: 5px 10px 10px 10px;
  background: linear-gradient(#181818, #141414);
  box-shadow: 0 0 2px 2px #1c1c1c inset;
}


/*   Header and Containers   */

.output-container-header {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-bottom: 12px;
  padding: 0 10px 1px 10px;
  border-bottom: 2px solid #444;
  font-size: 22px;
  letter-spacing: 0.02em;
  user-select: none;
}

.output-container-data {
  display: flex;
  flex-basis: 100%;
}

.color-output {
  display: flex;
  flex-basis: 45%;
  max-width: 420px;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #222 inset;
}

.text-output {
  display: flex;
  flex: 1 1 55%;
  flex-wrap: wrap;
  margin-left: 10px;
  padding: 3px 10px;
  border-radius: 10px;
  background: #222;
}


/*   Text Output   */

.text-output-row {
  display: flex;
  flex-basis: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #444;
}

.text-output-row:last-of-type {
  border-bottom: none;
}

.text-output-row-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  letter-spacing: 0.02em;
}

.text-output-row-body {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.text-output-notation {
  display: flex;
  padding: 4px 5px;
  border-bottom: 1px dotted #555;
}

.text-output-notation:first-of-type {
  padding-top: 2px;
}

.text-output-notation:last-of-type {
  padding-bottom: 2px;
  border-bottom: none;
}

.text-output-notation-name {
  display: flex;
  width: 165px;
  border-right: 1px dotted #555;
  color: #999;
  letter-spacing: 0.02em;
}

.text-output-notation-values {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-top: 1px;
}

.text-output-value,
.text-output-value-percent {
  margin-right: 1px;
  margin-left: .5em;
  padding-top: 2px;
  color: #b8860b;
  text-align: right;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.text-output-value-percent {
  margin-left: 1px;
  color: #916a08;
}

.text-output-value-hex {
  margin: 0 1px;
}

.text-output-value-comma:last-of-type {
  display: none;
}
