
<div class="column">

  <div
    *ngFor="let section of sections; index as i"
    class="info-section">

    <div class="info-section-header">{{section}}</div>
    <div class="info-section-body">Test

      <div *ngIf="i == 3">
        
        <app-range-inputs-block
          [space]="spaceRGB">
        </app-range-inputs-block>

        <app-range-inputs-block
          [space]="spaceHSL">
        </app-range-inputs-block>

        <app-range-inputs-block
          [space]="spaceCMYK">
        </app-range-inputs-block>

      </div>

    </div>

  </div>

</div>

