
<div class="header">Color Spaces</div>

<div class="main-wrapper">
  <div class="top-menu">
    <div 
      *ngFor="let b of topLevelBlocks"
      class="top-menu-option"
      [ngClass]="{'option-selected': b.selected}"
      (click)="switchTopLevelBlock(b.id)">{{b.menuBtnText}}</div>
  </div>
  <div 
    *ngFor="let b of topLevelBlocks"
    class="top-container"
    [ngClass]="{'container-selected': b.selected}">

    <ng-container *ngIf="b.id == 0">
      {{b.menuBtnText}}
    </ng-container>

    <ng-container *ngIf="b.id == 1">{{b.menuBtnText}}</ng-container>

    <ng-container *ngIf="b.id == 2">{{b.menuBtnText}}</ng-container>
      
  </div>
</div>

<div class="footer"></div>
