
<div class="header">Color Spaces</div>

<div class="main-wrapper">

  <!-- Top Level Menu -->
  <app-choose-one
    [menu]="topLevelOptions"
    menuStyle="top-level-menu"
    (selectOption)="switchTopLevelBlock($event)">
  </app-choose-one>

  <!-- Top Level Blocks -->
  <div 
    *ngFor="let option of topLevelOptions"
    class="top-level-container"
    [ngClass]="{'container-selected': option.selected}">

    <!-- Slider Input -->
    <ng-container *ngIf="option.id == 0">
      <app-primary></app-primary>
    </ng-container>

    <!-- Text Input -->
    <ng-container *ngIf="option.id == 1">
      <app-converter></app-converter>
      </ng-container>

    <!-- Info -->
    <ng-container *ngIf="option.id == 2">
      <app-info></app-info>
    </ng-container>
      
  </div>
</div>

<div class="footer"></div>
