
<!-- Output Color -->
<app-output-color
  [color]="color"
  headerText="Selected Color">  
</app-output-color>

<!-- Instructions -->
<div class="instruction-container">
  <div class="instruction-text">
    <div>Move sliders for any of the three color spaces below. <br/>The output above shows how it modifies the color.</div>
    <div>Sliders for the other two color spaces will adjust automatically to reflect the change.</div>
  </div>
</div>

<!-- Range Inputs -->
<div class="range-inputs-container">
  <app-range-inputs-block
    *ngFor="let space of spaces"
    [space]="space"
    [forcedColor]="color"
    [displaySample]="false"
    (output)="updateColor($event)">
  </app-range-inputs-block>
</div>
