
:host {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}


/*   Instruction   */

.instruction-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.instruction-text {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  letter-spacing: .01em;
}





/*   Slider Blocks   */

.range-inputs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.range-inputs-block {
  display: flex;
  flex-basis: 45%;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 580px;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
}

.range-inputs-block-header {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-bottom: 5px;
  padding: 0 10px 5px 10px;
  border-bottom: 2px solid #444;
  font-size: 22px;
  letter-spacing: 0.02em;
}
