
<div class="output-container">
  <div class="text-output">
    <div
      *ngFor="let b of textOutputBlocks"
      class="text-output-row">{{b.header}}: {{b.valStr}}</div>
  </div>
  <div 
    class="color-output"
    style="background: {{cHex}};"></div>
</div>

<div class="range-inputs-container">
  <div class="range-inputs-block">
    <app-range-input
      *ngFor="let i of ranges.rgb; index as j"
      [min]="i.min" [max]="i.max" [value]="rgbArr[j]" [step]="1"
      (output)="setColorFromRGB($event, i.id)">
    </app-range-input>
  </div>
  <div class="range-inputs-block">
    <app-range-input
      *ngFor="let i of ranges.hsl; index as j"
      [min]="i.min" [max]="i.max" [value]="hslArr[j]" [step]="1"
      (output)="setColorFromHSL($event, i.id)">
    </app-range-input>
  </div>
  <div class="range-inputs-block">
    <app-range-input
      *ngFor="let i of ranges.cmyk; index as j"
      [min]="i.min" [max]="i.max" [value]="cmykArr[j]" [step]="1"
      (output)="setColorFromCMYK($event, i.id)">
    </app-range-input>
  </div>
</div>
