
:host {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  height: 100%;
  align-content: flex-start;
  justify-content: center;
}

@media (max-width: 599px) {
  :host {
    padding: 0 8px;
  }
}


/*   Instruction   */

.instruction-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 12px 0;
}

.instruction-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  max-width: 1000px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  letter-spacing: .015em;
}

.instruction-text br {
  display: none;
}

@media (max-width: 899px) {
  .instruction-text {
    font-size: 16px;
  }
  .instruction-text br {
    display: initial;
  }
}

@media (max-width: 599px) {
  .instruction-container {
    margin: 5px 0;
  }
  .instruction-text {
    font-size: 14px;
  }
  .instruction-text br {
    display: none;
  }
}


/*   Slider Blocks Container   */

.range-inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  margin: 0 8px 20px 8px;
}

@media (max-width: 899px) {
  .range-inputs-container {
    gap: 10px;
  }
}

@media (max-width: 599px) {
  .range-inputs-container {
    gap: 6px;
    margin: 0 0 15px 0;
  }
}
