
<!-- Color Output -->
<app-output-color
  [color]="color">  
</app-output-color>

<!-- Instructions -->
<div class="instruction-container">
  <div class="instruction-text">Move any slider for any of the three color spaces below. The output above shows how it modifies the color.<br/>Sliders for the other two color spaces adjust automatically to reflect the change.</div>
</div>

<!-- Range Inputs -->
<div class="range-inputs-container">
  <div 
    *ngFor="let block of inputBlocks"
    class="range-inputs-block">
    <div class="range-inputs-block-header">{{block.name}}</div>
    <app-range-input
      *ngFor="let range of block.ranges"
      [range]="range"
      (output)="setColorFromRange($event, range.id)">
    </app-range-input>
  </div>
</div>
