
<!-- Header -->
<div class="input-header">

  <div class="value-min">
    <span>{{range.min}}</span>
    <span class="percentage-only">%</span>
    <span class="degree-only">&deg;</span>
  </div>

  <div class="input-header-text">
    <span class="input-name">{{range.name}}</span>
    <span class="input-value">
      <span>(&hairsp;{{currentValue}}</span>
      <span class="percentage-only">&hairsp;%</span>
      <span class="degree-only">&hairsp;&deg;</span>
      <span>&hairsp;)</span>
    </span>
  </div>

  <div class="value-max">
    <span>{{range.max}}</span>
    <span class="percentage-only">%</span>
    <span class="degree-only">&deg;</span>
  </div>

</div>

<!-- Slider -->
<input 
  type="range" 
  min="{{range.min}}" 
  max="{{range.max}}" 
  value="{{range.value}}" 
  step="{{range.step}}" 
  (input)="sendChanges($event)"/>
